# website build
website/output

# solutions
_solution.*

# python and environment cache
*__pycache__*
*.pyc
.DS_Store
.__*
.ipynb_checkpoints
.mypy_cache
.vscode

# models
*.h5
*.hdf5
*.pth

# datasets unzipped
*cifar10_data/